:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --MAIN-COLOR: #0376a3;
    --SECONDARY-COLOR: #f8f8f8;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.diagonal-box{
    z-index: -1;
    position: absolute;
    background-color: var(--MAIN-COLOR);
    width: 100%;
    height: 200%;
    transform: skewY(-12deg);
    transform-origin: 0;
    top: -130%;
}
body{
    background-color: var(--SECONDARY-COLOR);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: clamp(40px,10vw,100px) auto;
}
.img-text-wrapper{
    position: relative;

}
.img-text-wrapper img{
    max-width: 100%;
    height: auto;
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.1);
}
.img-text-wrapper h1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: clamp(1.5rem, 4vw, 3rem);
}

.about-me{
    display: flex;
    flex-direction: column;
    background-color: var(--SECONDARY-COLOR);
    width: 90%;
    max-width: 800px;
    height: auto;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
    padding: 25px;
    position: relative;
}
.about-me h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.about-me p{
    font-size: 20px;
    margin-bottom: 90px;
    line-height: 28px;
}
.social-media{
    display: flex;
    align-items:center;
    margin: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.social-media a{
    text-decoration: none;
    display: inline-block;
}
.social-media img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}
main h2{
    font-size: 30px;
    margin-bottom: 25px;
}

.achievements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--SECONDARY-COLOR);
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
}
.achievements img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
}
.title-link-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: clamp(10px, 2vw, 20px);
}
.achievement p{
    font-size: 16px;
    padding: 0 clamp(10px, 2vw, 20px);
    line-height: 24px;
}

.achievement a>img{
    width: 30px;
    height: 30px;
    
}


footer{
    background-color: var(--MAIN-COLOR);
    display: flex;
    justify-content: center;
    box-shadow: 0px -10px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 30px;
    height: 500px;
    width: 100vw;
    padding: 20px 5%;
    margin-top: 100px;
}

footer p{
    color: var(--SECONDARY-COLOR);
    font-size: 20px;
    
}

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text h3{
    font-size: 30px;
    color: var(--SECONDARY-COLOR);
    margin-bottom: 10px;
}

.footer-text> p{
    margin-bottom: 8px;
}

.footer-text img{
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.phone, .email{
    display: flex;
    align-items: center;
    margin-top: 15px;
    
}

footer img{
    /* width: 100%;
    height: auto;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1); */
}
.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    height: auto;
}

.img-wrapper img{
    width: 100%;
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
}

.social-media-footer{
    display: flex;
    margin-top: 15px;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1000px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    footer{
        padding: 10px 3%;
        gap: 20px;
    }
    .achievements{
        grid-template-columns: repeat(2, 1fr);
    }
    .achievement{
        max-width: 300px;
        min-height: 300px;
    }
    .about-me{
        max-width: 600px;
    }
    .img-text-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .img-text-wrapper h1{
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .img-text-wrapper img{
        max-width: 70%;
        height: auto;
    }
    .img-wrapper{
        min-width: 350px;
        min-height: 400px;

    }
    .img-wrapper img{
        width: 100%;
        height: auto;

    }
    .footer-text h3{
        font-size: 25px;
    }
    .footer-text> p{
        font-size: 18px;
        margin-bottom: 6px;
    }
    .footer-text img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

}

@media (max-width: 600px){
    header{
        margin:15px 0;
    }
    .about-me{
        width: 100%;
        padding: 20px;
    }
    .achievements{
        grid-template-columns: repeat(1, 1fr);
    }
    .achievement{
        max-width: 100%;
        min-height: 300px;
        padding-bottom: 10px;
    }
    .about-me{
        max-width: 100%;
    }
    .img-text-wrapper img{
        max-width: 70%;
        height: auto;
    }
    .img-text-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .img-text-wrapper h1{
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .img-wrapper{
        min-width: 300px;
        min-height: 300px;
    }
    footer{
        flex-direction: column;
        height: auto;
        gap: 10px;
        margin-top: 50px;
    }
    .footer-text{
        margin-top: 10px;
        align-self: flex-start;
        width: 100%;
    }
    .social-media-footer{
        margin-top: 10px;
        align-self: flex-end;
    }
}